$background-color:  white;

.widget-player {
  //background-color: $background-color;
  //color: black;

  img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #4a4a49;
    border: 2px solid #eee;
    border-color: white;
    padding: 0px;
    width: 250px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
        filter: url(#drop-shadow);
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
                filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  }

  p{
    padding-top: 10px;
    font-size: 30px;
  }



}
