<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-defense" data-view="Player" style="background-color: black; color: white;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-offence" data-view="Player" style="background-color: black; color: white;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" style="background-color: black; color: white;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" style="background-color: white; color: black;"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-defense" data-view="Player" style="background-color: white; color: black;"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-offence" data-view="Player" style="background-color: white; color: black;"></div>
    </li>
  </ul>
</div>
