<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-defense" data-view="Player" style="background-color: black; color: white;" class="black" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-offence" data-view="Player" style="background-color: black; color: white;"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="kicker-score-black" data-view="Text" style="background-color: black; color: white;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="kicker-score-white" data-view="Text" style="background-color: white; color: black;"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-defense" data-view="Player" style="background-color: white; color: black;"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-offence" data-view="Player" style="background-color: white; color: black;"></div>
    </li>
  </ul>
</div>
