<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-defense" data-view="Player" ></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-black-offence" data-view="Player" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-defense" data-view="Player" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kicker-player-white-offence" data-view="Player" ></div>
    </li>
  </ul>
</div>
