<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kicker" data-view="Kicker" data-title="Kicker Tisch 2"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="testid" data-view="Test" ></div>
    </li>
  </ul>
</div>
